services:
  mysql:
    image: mysql:8.0
    container_name: pet_management_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: pet_management
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  api:
    build: .
    container_name: pet_management_api
    restart: always
    env_file:
      - .env
    ports:
      - "5000:5000"
    depends_on:
      mysql:
        condition: service_healthy

